h1 This is the mega uga buga button mastery
-
  var buttonSize = ['tiny', 'small', 'normal', 'big', 'large']
  var iconSizeMap = {
    tiny: 20,
    small: 20,
    normal: 20,
    big: 20,
    large: 24
  }

//- primary
.button__wrapper
  each size in buttonSize
    button.button(
      class=`button__${size}`
    ) #{size} CTA!

  //- disabled
  each size in buttonSize
    button.button(
      class=`button__${size}`
      disabled
    ) #{size} CTA!



  each size in buttonSize
    button.button.button__lead--left(
      class=`button__${size}`
    )
      span #{size} CTA
      .bm-new-circle


  each size in buttonSize
    button.button.button__lead--right(
      class=`button__${size}`
    )
      span #{size} CTA
      .bm-new-circle


  each size in buttonSize
    button.button.button__lead--left(
      class=`button__${size}`
    )
      span tiny CTA
      .white-disc


  each size in buttonSize
    button.button(
      icon="circle"
      class=`button__${size}`
    )
      img(
        src=`${baseUrl}asset/image/circle.svg`
        width=`${iconSizeMap[size]}`
      )


//- secondary
.button__wrapper
  each size in buttonSize
    button.button(
      secondary
      class=`button__${size}`
    ) #{size} Secondary

  //- disabled
  each size in buttonSize
    button.button(
      secondary
      class=`button__${size}`
      disabled
    ) #{size} Secondary



  each size in buttonSize
    button.button.button__lead--left(
      secondary
      class=`button__${size}`
    )
      span #{size} Secondary
      .bm-new-circle


  each size in buttonSize
    button.button.button__lead--right(
      secondary
      class=`button__${size}`
    )
      span #{size} Secondary
      .bm-new-circle


  each size in buttonSize
    button.button.button__lead--left(
      secondary
      class=`button__${size}`
    )
      span tiny Secondary
      .purple-disc


  each size in buttonSize
    button.button(
      icon="circle"
      secondary
      class=`button__${size}`
    )
      .bm-new-circle



//- gray
.button__wrapper
  each size in buttonSize
    button.button(
      gray
      class=`button__${size}`
    ) #{size} gray

  //- disabled
  each size in buttonSize
    button.button(
      gray
      class=`button__${size}`
      disabled
    ) #{size} gray



  each size in buttonSize
    button.button.button__lead--left(
      gray
      class=`button__${size}`
    )
      span #{size} gray
      .bm-new-circle


  each size in buttonSize
    button.button.button__lead--right(
      gray
      class=`button__${size}`
    )
      span #{size} gray
      .bm-new-circle


  each size in buttonSize
    button.button.button__lead--left(
      gray
      class=`button__${size}`
    )
      span tiny gray
      .gray-disc


  each size in buttonSize
    button.button(
      icon="circle"
      gray
      class=`button__${size}`
    )
      .bm-new-circle


