.button__wrapper
  button.button.button__tiny tiny CTA
  button.button.button__small small CTA
  button.button.button__normal normal CTA
  button.button.button__big big CTA
  button.button.button__large large CTA


  button.button.button__lead--left.button__tiny
    span tiny CTA
    img(src=`${baseUrl}asset/image/circle.svg` width="20")
  button.button.button__lead--left.button__small
    span small CTA
    img(src=`${baseUrl}asset/image/circle.svg` width="20")
  button.button.button__lead--left.button__normal
    span Super duper super Text
    img(src=`${baseUrl}asset/image/circle.svg` width="20")
  button.button.button__lead--left.button__big
    span big CTA
    img(src=`${baseUrl}asset/image/circle.svg` width="20")
  button.button.button__lead--left.button__large
    span large CTA
    img(src=`${baseUrl}asset/image/circle.svg` width="24")


  button.button.button__lead--right.button__tiny
    span tiny CTA
    img(src=`${baseUrl}asset/image/circle.svg` width="20")
  button.button.button__lead--right.button__small
    span small CTA
    img(src=`${baseUrl}asset/image/circle.svg` width="20")
  button.button.button__lead--right.button__normal
    span normal CTA
    img(src=`${baseUrl}asset/image/circle.svg` width="20")
  button.button.button__lead--right.button__big
    span big CTA
    img(src=`${baseUrl}asset/image/circle.svg` width="20")
  button.button.button__lead--right.button__large
    span large CTA
    img(src=`${baseUrl}asset/image/circle.svg` width="24")


  button.button.button__lead--right.button__tiny
    span tiny CTA
    .white-disc
  button.button.button__lead--right.button__small
    span small CTA
    .white-disc
  button.button.button__lead--right.button__normal
    span normal CTA
    .white-disc
  button.button.button__lead--right.button__big
    span big CTA
    .white-disc
  button.button.button__lead--right.button__large
    span large CTA
    .white-disc


  button(icon="circle").button.button__tiny
    img(src=`${baseUrl}asset/image/circle.svg` width="20")
  button(icon="circle").button.button__small
    img(src=`${baseUrl}asset/image/circle.svg` width="20")
  button(icon="circle").button.button__normal
    img(src=`${baseUrl}asset/image/circle.svg` width="20")
  button(icon="circle").button.button__big
    img(src=`${baseUrl}asset/image/circle.svg` width="20")
  button(icon="circle").button.button__large
    img(src=`${baseUrl}asset/image/circle.svg` width="24")
